/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  font-size: 100%;
  font-family: 'Montserrat';
}


.allcaps {
  text-transform: uppercase;
}

#index-banner {
    background-image: url("../blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-height: 410px;
}

@media all and (max-width: 480px) {
    h1.header{
        font-size: 2.5em;
    }
}

h1.header {
  font-weight: bold;
  letter-spacing: -3px;
  text-shadow: 0px 2px 6px #303934;
  margin-bottom: 0;
}

#download-button {
  transform: translateY(50%);
}

#greyish {
    background-image: url("../grey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
}

#contactsection {
    background-image: url("../dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    min-height: 300px;
    clear: both;
}

.carousel {
  min-width: 640px;
  width: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .indicators .indicator-item {
  background-color: #E1E1E1;
}

.carousel .indicators .indicator-item.active {
  background-color: #3261EF;
}

.carousel.carousel-slider .carousel-item {
  min-height: 220px;
}

.carleft {
  width: 50%;

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 5%;
  padding-right: 5%;
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  font-size: 2.5em !important;
  font-weight: bold !important;
  color: #303934;

  text-shadow: 1px 0 #303934;
  letter-spacing: 1px;
  line-height: 1em !important;
}

.carright {
  width: 50%;

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 5%;
  padding-right: 5%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#h2topsmall {
  color: #3261EF;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width: 480px) {
    #h2bottombig {
        font-size: 2.5em !important;
    }
}


#h2bottombig {
  font-size: 5em;
  color: #303934;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.8em;
}

@media all and (max-width: 480px) {
    #middleright {
        float: left !important;
    }
}

#pbold {
  font-weight: bold;
  margin-top: 0;
}

#getintouchpos {
	clear: both;
	font-weight: bold;
}

.contactfield {
	font-size: 1.2em !important;
}

#submitbutton {
	background-color: #3261EF;
}

.waves-effect.waves-blueish .waves-ripple {
	background-color: rgba(50, 97, 239, 0.65);
}

#contact-form {
	width: 85%;
}