/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  font-size: 100%;
  font-family: 'Montserrat';
}

#download-button {
  text-transform: none;
}

.carousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#carleft {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5em;
  font-weight: bold;
  color: #303934;
}

#carright {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel .indicators .indicator-item {
  background-color: #E1E1E1;
}

.carousel .indicators .indicator-item.active {
  background-color: #3261EF;
}

.carousel.carousel-slider .carousel-item {
	min-height: 200px;
}

#index-banner {
	height: 710px;
}

#topcenter {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#topcenter h1 {
	font-weight: bold;
	text-shadow: 0px 2px 4px grey;
  letter-spacing: -3px;
}

#getintouchpos {
  position: relative;
  top: 50%;
  transform: translateY(-75%);
  font-weight: bold;
  font-size: 3.5em;
}

#submitbutton {
  background-color: #3261EF;
}

.allcaps {
  text-transform: uppercase;
}

#h2span {
  color: #3261EF;
  font-size: 0.4em;
  font-weight: bold;
}

#h2outofspan {
  font-weight: bold;
  font-size: 5em;
  color: #303934;
}

#pbold {
  font-weight: bold;
}

.waves-effect.waves-blueish .waves-ripple {
      background-color: rgba(50, 97, 239, 0.65);
}